body {
    font-family: Arial, sans-serif; /* Define a fonte padrão para o corpo da página */
    background-color: #808080; /* Fundo cinza da página */
    height: 80vh; /* Altura da tela inteira */
    margin: 0; /* Remove margens padrão do navegador */
    display: flex; /* Usar flexbox para layout */
    flex-direction: column; /* Organiza os elementos em coluna, de cima para baixo */
    align-items: center; /* Centraliza os elementos horizontalmente */
    justify-content: center; /* Centraliza os elementos verticalmente */
}

.login-form {
    width: 320px; /* Largura fixa do formulário de login */
    padding: 30px; /* Espaçamento interno das bordas */
    border: 1px solid #ccc; /* Borda cinza clara ao redor do formulário */
    border-radius: 6px; /* Bordas arredondadas */
    box-shadow: 2px 2px 12px #aaa; /* Sombra ao redor para dar profundidade */
    background-color: white; /* Fundo branco do formulário */
    margin-top: 20px; /* Espaço acima do formulário, útil para separar do topo ou de outros elementos */
}

.logo {
    border-radius: 15px; /* Ajuste o valor para arredondar mais ou menos */
}
